@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
:root {
  --main-btn-color: #f7941d;
  --hover-btn-color: #ca740a;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

body {
  font-family: 'Cairo', sans-serif;
}
a {
  color: #3d3c63;
}
a:hover {
  text-decoration: none;
}
button {
  background-color: white;
  border: 1px solid var(--main-btn-color);
  color: var(--main-btn-color);
  border-radius: 2px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.5s ease-out;
}
button:hover {
  background-color: var(--hover-btn-color);
  color: white;
  border-color: var(--hover-btn-color);
}
.body {
  background-color: rgb(248, 249, 250);
}

.search-icon {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 0;
}

.landing-jumb {
  background-image: url('../assets/jumbtron-img.jpg');
  border-radius: 0;
  height: 75vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-jumb div {
  background-color: rgba(255, 255, 255, 0.678);
  padding: 10px;
  margin-top: 9vh;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.landing-category {
  padding: 15px;
  margin-top: 3px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.featured-products {
  padding: 10px;
}
.featured-products {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-bottom {
  margin-bottom: 0;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.footer-bottom span {
  color: rgb(202, 27, 27);
  font-size: 20px;
}
.footer-bottom a {
  color: rgb(102, 118, 207);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: antiquewhite;
  background-color: #444444;
}
.btn:focus {
  background-color: #3d3c63;
  border-color: inherit;
}
.btn:before {
  background-color: #3d3c63;
  border-color: inherit;
}
.btn:after {
  background-color: #3d3c63;
  border-color: inherit;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.social-info {
  display: flex;
  justify-content: space-between;
}

.category-accordion {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.agents-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
  padding: 10px;
}
.agents-map {
  width: 1350px;
  height: 50vh;
}

/**
*Phone screen 
*
**/

@media screen and (max-width: 600px) {
  .landing-jumb {
    height: 65vh;
  }
  .landing-jumb div {
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
  }
  .landing-jumb div h1 {
    font-size: 20px;
  }
  .landing-jumb div p {
    font-size: 12px;
  }
  .agents-page {
    flex-direction: column;
  }
  .agents-map {
    width: 350px;
    height: 300px;
  }
  .footer-bottom {
    font-size: 12px;
    flex-direction: column;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
}
/**
 * taplate
 *
 **/
@media screen and (min-width: 605px) and (max-width: 768px) {
  .agents-page {
    flex-direction: column;
  }
  .agents-map {
    width: 700px;
    height: 300px;
  }
  .footer-bottom {
    font-size: 12px;
    flex-direction: column;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .serach-icon {
    margin-left: 0px;
    margin-right: 325px;
  }
}
