@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
:root {
  --main-btn-color: #f7941d;
  --hover-btn-color: #ca740a;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

body {
  font-family: 'Cairo', sans-serif;
  height: 100vh;
}
a {
  color: #3d3c63;
}
a:hover {
  text-decoration: none;
}
button {
  background-color: rgba(255, 255, 255, 0.692);
  border: 1px solid var(--main-btn-color);
  color: var(--main-btn-color);
  border-radius: 2px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.5s ease-out;
}
button:hover {
  background-color: var(--hover-btn-color);
  color: white;
  border-color: var(--hover-btn-color);
}
.shadowBlue {
  -webkit-box-shadow: 3px 12px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 12px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 12px 30px -10px rgba(0, 0, 0, 0.75);
}
.body {
  background-color: #ffffdc;
}
.nav-bar {
  background-color: #f7931d;
}

.search-icon {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 0;
}

.carousel {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.carousel-text {
  position: absolute;
  background-color: #ffffdc9b;
  border: #ffffdc solid 1px;
  border-radius: 3px;
  padding: 1rem;
  margin: 3rem;
}
.featured-products {
  padding: 10px;
}
.featured-products {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-all-pruducts {
  display: flex;
  flex-direction: column;
  margin-right: 18rem;
}
.result-title {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ca740a;
  border-radius: 30rem;
  padding: 1.5rem;
}
.close-button {
  background-color: #e91010;
  color: #ffffdc;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}
.footer-bottom {
  margin-bottom: 0;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.footer-bottom span {
  color: rgb(202, 27, 27);
  font-size: 20px;
}
.footer-bottom a {
  color: rgb(102, 118, 207);
}
.social-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-accordion {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.agents-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.contact-form {
  margin-right: auto;
  margin-left: auto;
}

/**
*Phone screen 
*
**/

@media screen and (max-width: 600px) {
  .carousel {
    margin: auto;
  }
  .carousel-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .carousel-text {
    position: static;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .carousel-text h1 {
    font-size: medium;
  }
  .carousel-text p {
    font-size: small;
  }
  .show-all-pruducts {
    align-items: center;
    margin-right: 0rem;
  }
  .result-title {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ca740a;
    border-radius: 30rem;
    padding: 0.5rem;
  }
  .close-button {
    background-color: #e91010;
    color: #ffffdc;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
  }
  .agents-page {
    flex-direction: column;
  }
  .agents-map {
    width: 350px;
    height: 300px;
  }
  .footer-bottom {
    font-size: 12px;
    flex-direction: column;
  }
  .footer-bottom span {
    font-size: 12px;
  }
}
/**
 * taplate
 *
 **/
@media screen and (min-width: 605px) and (max-width: 768px) {
  .carousel {
    margin: auto;
  }
  .carousel-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .carousel-text {
    position: static;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .carousel-text h1 {
    font-size: medium;
  }
  .carousel-text p {
    font-size: small;
  }
  .agents-page {
    flex-direction: column;
  }
  .agents-map {
    width: 700px;
    height: 300px;
  }
  .footer-bottom {
    font-size: 12px;
    flex-direction: column;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .serach-icon {
    margin-left: 0px;
    margin-right: 325px;
  }
}
